<article>
  <h1><%= @article.title %></h1>
  <hr>
  <p><%= @article.content %></p>
</article>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <%= link_to "Edit", edit_article_path(@article), class: "btn btn-sm btn-outline-secondary" %>
  <%= link_to "Delete", article_path(@article), class: "btn btn-sm btn-outline-secondary", method: :delete, data: { confirm: "Are you sure?" } %>
  <%= link_to "List", articles_path, class: "btn btn-sm btn-outline-secondary" %>
</div>
<!-- <br>
<%= link_to "Back to list", articles_path %> -->
