<h1>Article</h1>
<h3><%= @article.title %></h3>
<p><%= @article.content %></p>
<%= link_to "Edit article", edit_article_path(@article) %>
<br>
<%= link_to "Delete article", article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %>
<br>
<%= link_to "Back to list", articles_path %>
